:root {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;

}
html {
  --bg-color : #fffffc;
  --border-color : #ced4da;
  --matte-black : #212529;
  --transition-speed: 600ms;
  --button-color : #48bfe3;
  --heading-bar : #161a1d;
  --text-color : #212529;
  --input-color : #fffffc;
  --text-light-color : #212529;
  --shadow-color : #adb5bd;
  --icon-color : #48bfe3;
  --heading-color : var(--bg-color);
  --dark-bg-text : #fffffc;
}
html[data-theme = "dark"]{
  --less-dark : #1a1f27;
  --bg-color : #0d1117;
  --more-dark : #080a0e;
  --border-color : #495057;
  --matte-black : var(--less-dark);
  --transition-speed: 600ms;
  --button-color : var(--less-dark);
  --icon-color : #f0f6fc;
  --heading-bar : var(--less-dark);
  --text-color : #f0f6fc;
  --input-color : var(--bg-color);
  --text-light-color : #f0f6fc;
  --shadow-color : var(--more-dark);
  --heading-color : var(--icon-color);
  --dark-bg-text : #f0f6fc;
}
body{
  margin:0;
  padding:0;
  background-color: var(--bg-color);
  text-decoration-style: none;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
  width : 4rem;
  height : 97vh;
  position : fixed;
  background-color: var(--matte-black);
  z-index: 2;
  border-radius: 3rem;
  margin-left : 1rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.07), 6px 6px 6px rgba(0,0,0,0.07);
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height : 100%;
}

a{
  text-decoration: none;
}
.inputBox{
  width : 40rem;
  height : 15rem;
  text-decoration-style: none;
  /* background: linear-gradient(21deg, #10abff, #1beabd); */
  border-color: var(--matte-black);
  border-radius: 1rem;
  /* border-width: 0.2rem; */
  font-size: 1.2rem;
  border-width: 0px;
  outline : none;
  resize : none;
  background: var(--input-color);
  box-shadow: inset 5px 5px 15px var(--shadow-color),inset -5px -5px 15px var(--bg-color);
  padding : 1rem;
  color : var(--text-light-color)
}
.inputBox:hover {
    border-width: 0.2rem;
}

.right-view{
  margin-left : 8rem;
  margin-top : 1rem;
}
.inner-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.graph-style{
  margin-left : 25rem;
  margin-top: 5rem;
}

.page-heading{
  font-size: 1.5rem;
  text-align: center;
  padding : 0.8rem;
  padding-top : 10rem;
  margin-top : -10rem;
  font-weight : 600;
  text-transform: uppercase;
  color : var(--heading-color);
}
.heading-bar{
  background: var(--heading-bar);
  border-radius: 3rem;
  width: 89rem;
  align-items: center;
  color : var(--bg-color);
}

.box-heading{
  font-size: 1.2rem;
  padding : 0.3rem;
  padding-left : 1rem;
  background: var(--heading-bar);
  border-radius: 10rem;
  width: 20rem;
  color : var(--dark-bg-text);
}


.input-box{
  display: inline-block;
  text-decoration-style: none;
  border-color: var(--matte-black);
  border-radius: 5rem;
  font-size: 1.2rem;
  border-width: 0px;
  outline : none;
  resize : none;
  background: var(--input-color);

  box-shadow: inset 5px 5px 15px var(--shadow-color),inset -5px -5px 15px var(--bg-color);
  padding : 0.3 rem;
  padding-left :1rem;
  color : var(--text-light-color);
}

.value-box{
  display: inline-block;
  text-decoration-style: none;
  border-color: var(--matte-black);
  border-radius: 5rem;
  font-size: 1.2rem;
  border-width: 0px;
  outline : none;
  resize : none;
  background: var(--input-color);
  box-shadow: inset 5px 5px 15px var(--shadow-color),inset -5px -5px 15px var(--bg-color);
  padding : 0.3 rem;
  padding-left :1rem;
  padding-right: 1rem;
  color : var(--text-light-color);
}

.example_b {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background:var(--button-color) ;
  padding: 10px 15px 10px 15px;
  border-radius: 100px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline : none;
}
.example_b:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.hide-button{
  visibility: hidden;
}

.slight-left{
  margin-left:1rem
}
/* svg{
  height: 2rem;
  width:2rem;
} */
.nav-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--bg-color);
  margin-bottom: 1.5rem;
}


.navbar-nav{
  margin-top:7rem
}

.nav-link svg{
  width:1.7rem;
  min-width: 1.7rem;
  height : 1.7rem;
  fill: var(--bg-color);
}

.nav-link svg:hover{
    fill : var(--icon-color)
}

.control-button{
  /* display: flex; */

  align-items: center;
  text-decoration: none;
  color: var(--matte-black);
  margin-bottom: 1.5rem;
}
.control-button svg{
  width:1.7rem;
  min-width: 1.7rem;
  height : 1.7rem;
  /* margin-left :2rem; */
  fill: var(--matte-black);
}

.control-button svg:hover{
    fill : var(--icon-color)
}
.controls{
  margin-top : 1rem;
}
.controls li{
  display: inline-block;
  margin-left : 2rem;
  list-style-type: none;

}

.font-icon{
  font-weight: 900;
  text-decoration-style: none;
  text-decoration: none;
}

.font-icon:hover{
  color: var(--icon-color);
}
.text-input-box{
  list-style: none;
}

.input-item{
  display: inline-block;
  margin-right:3rem;
  margin-top:1rem;
}

.input-box-heading{
  font-size: 1.2rem;
  color : var(--text-color);
  font-weight: 500;
}








::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--matte-black);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #023047;
}



.select-css {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  padding: 0.1rem 1.1rem .2rem .5rem;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid var(--bg-color);
  box-shadow: inset 3px 3px 10px var(--shadow-color),inset -3px -3px 10px var(--bg-color);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color);

  background-position: right .7em top 50%, 0 0;

  background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
  outline : none;
}
/* Hover style */
.select-css:hover {
  border-color: var(--text-light-color);

}
/* Focus style */
.select-css:focus {
  border-color: var(--bg-color);
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: inset 1px 1px 5px var(--shadow-color),inset -5px -5px 15px var(--bg-color);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: var(--text-color);

  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight: 600;
  color : var(--text-color);
  outline : none;

}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa;
}

.home-heading{
  font-weight: 500;
  color: var(--text-color);
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.footer-line{

}

.bottom-line-container{
  display : flex;
  font-weight: 500;
  color: var(--text-color);
  position: absolute;
  left: 50%;
  bottom : 0%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-style: italic;
}

.bottom-heart{
  color:#f94144;
  animation: pulse 1s infinite;
  margin-left : 0.7rem;
}
@keyframes pulse {
  0% {
    transform : scale(0.1);
  }
  50% {
    transform : scale(1.5);
  }
  100% {
    transform : scale(0.1);
  }
}
